#section-two {
  width: 100%;
  background-color: #3fa63b;
  color: #edebe7;
  padding: 5.5rem 0 5rem 0;
}

.section-mais {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#section-two h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.video-tamanho {
  width: 19rem;
}

.video {
  width: 100%;
  height: auto;
}

.texto {
  font-size: 0.7rem;
  width: 23rem;
}

.texto p {
  margin: 1.2rem;
}
