#section-two {
  width: 100%;
  background-color: #3fa63b;
  color: #edebe7;
  padding: 2.5rem 0;
  user-select: none;
}

.section-mais {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#section-two h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.video-tamanho {
  width: 30rem;
}

.video {
  width: 100%;
  height: auto;
}

.texto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 0.5rem;
  grid-auto-flow: row;
}

.texto-abaixo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100% !important;
}

.texto p {
  text-align: left;
  font-size: 1rem;
  margin: 1.2rem;
}
