.section-zero {
  position: relative;
  user-select: none;
  width: 100%;
  background-image: url("../../assets/img/pattern1.png");
  background-size: 50%;
  background-repeat: repeat;
  margin: 0;
}

.section-zero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #edebe77b;
  backdrop-filter: blur(4px);
}

.section-carrossel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.tamanho-banner {
  max-width: 60rem;
  margin: 0;
}

.banner {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: -0.4rem;
}
