.form-element input:focus,
.form-element select:focus {
  
}

.div-1,
.div-4,
.div-7,
.form-grid button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-grid label {
  color: #0d0d0d;
  font-weight: 600;
  font-size: 0.9rem;
}