.section-map {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.map-size {
  width: 30rem;
}

.map {
  width: 100%;
  height: auto;
}

.adjust-close {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-three h2 {
  line-height: 2.8rem;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.thin {
  font-weight: 600;
}

.superscription {
  display: flex;
  align-items: center;
  margin-left: -0.8rem;
}

.superscription .local-point {
  
}

.superscription p {
  margin-left: 0;
  font-size: 1rem;
}
