#section-four {
  width: 100%;
  background-color: #3fa63b;
  color: #edebe7;
  padding: 5.5rem 0;
  user-select: none;
}

#section-four h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.section-venhaser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#section-four h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4rem;
}

#section-four h4 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.9rem;
}
