.section-plus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#section-two h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

.video-size {
  width: 30rem;
}

.video {
  width: 100%;
  height: auto;
}

.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 0.5rem;
  grid-auto-flow: row;
}

.text p {
  text-align: left;
  font-size: 1rem;
  margin: 1.2rem;
}
