#section-one h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-courses {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-examples {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-wrap: wrap;
}

.course-examples .img-examples {
  width: 16rem;
  height: auto;
  margin: 0.3rem;
}

.course-examples figcaption {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.to-courses {
  margin-top: 3rem;
  text-align: center;
}
