#section-one {
  width: 100%;
  padding: 6rem 0;
  background-color: #edebe7;
  user-select: none;
}

#section-one h2 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-cursos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursos-exemplos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cursos-exemplos .img-exemplos {
  width: 16rem;
  height: auto;
  margin: 0.3rem;
}

.cursos-exemplos figcaption {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.para-cursos {
    margin-top: 3rem;
    text-align: center;
}

.para-cursos .link-cursos {
    background-color: #3fa63b;
    color: #edebe7;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.para-cursos .link-cursos:hover {
    background-color: #0d0d0d;
  }
