.section-three {
  width: 100%;
  background-color: #edebe7;
  padding-top: 1.5rem;
}

.section-mapa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mapa-tamanho {
  width: 25rem;
}

.mapa {
  width: 100%;
  height: auto;
}

.ajuste-perto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-three h2 {
  line-height: 2.8rem;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.thin {
  font-weight: 600;
}

.ponto-local {
  height: 4rem;
  width: auto;
}

.endereco {
  display: flex;
  align-items: center;
  margin-left: -0.8rem;
}

.endereco p {
  margin-left: 0;
  font-size: 1rem;
}
