header {
  width: 100%;
  background-color: #edebe7;
  user-select: none;
}

.light-green {
  height: 0.35rem;
  background-color: #00ff83 !important;
}

.dark-green {
  height: 0.35rem;
  background-color: #3fa63b !important;
}

.center-header {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0.2rem 0;
}

.logo-link:before {
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #0d0d0d;
  text-decoration: none;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.portal {
  padding: 0.2rem 0.8rem;
  color: #edebe7;
  background-color: var(--dark-green);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.portal:hover {
  background-color: #edebe7;
  color: #3fa63b;
}
