footer {
  background-color: #edebe7;
  width: 100%;
  user-select: none;
  min-height: 20rem;
}

.container {
    display: flex;
  max-width: 80rem;
  margin: 0 auto;
}

.escala-5 {
    height: 5.5rem;
}

.cursos-pad {
    padding-left: 1rem;
}
