footer {
  background-color: #edebe7;
  width: 100%;
  user-select: none;
  padding: 2rem 0;
}

.center-footer {
  line-height: 2rem;
  max-width: 55rem;
  margin: 1.5rem auto;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.escala-6 {
  height: 6rem;
}

.cursos-pad {
  padding-left: 1rem;
}

.icon {
  height: 1.8rem;
  width: auto;
  margin-right: -1rem;
}

footer .social {
  display: flex;
  flex-direction: column;
}

.social li {
  line-height: 1.9rem;
}

footer .address {
  padding-left: 0.1rem;
}

footer address {
  line-height: 1rem;
  margin-top: 1.5rem;
}

footer .copy {
  text-align: center;
  margin: 4rem 0;
}

.by,
.by a {
  color: rgba(128, 128, 128, 0.5);
}

.by a {
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.by a:hover {
  color: #282828;
}

.by a::before {
  background-color: #282828;
}
