@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

html {
  background-color: var(--primary-white);
}

/*
#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}
*/

:root {
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Cores */
  --dark-green: #3fa63b;
  --light-green: #00ff83;
  --primary-white: #edebe7;
  --secondary-white: #fff;
  --primary-orange: #ff5211;
  --primary-black: #0d0d0d;
  --primary-black-transparent: rgba(13, 13, 13, 0.5);
  --secondary-black: #282828;
  --secondary-black-transparent: rgba(40, 40, 40, 0.5);
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Links com animação no underline */
a {
  text-decoration: none;
  position: relative;
  color: var(--primary-black);
  overflow: hidden; /* Oculta o overflow do pseudo-elemento */
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Altura da borda inferior */
  background-color: var(--dark-green);
  transition: width 0.2s ease-out;
}

a:hover::before {
  width: 100%;
}

/* Padrão de listas não ordenadas */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Padrão das sessões */
.center-section {
  max-width: 55rem;
  padding: 1rem 0;
  margin: 0 auto;
}

/* Inicialização com logo V+ */
.position-fixed {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  animation: heartbeat 1s infinite;
}

/* Animação para a imagem de inicialização V+ */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
