@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Overflow-x hidden para o bom funcionamento do Carrossel */
  overflow-x: hidden;
}

:root {
  font-weight: 600;

  color: #0d0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Links com animação no underline */
a {
  text-decoration: none;
  position: relative;
  color: #0d0d0d;
  overflow: hidden; /* Oculta o overflow do pseudo-elemento */
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Altura da borda inferior */
  background-color: #3fa63b;
  transition: width 0.2s ease-out;
}

a:hover::before {
  width: 100%;
}

a:focus {
  outline: 1.5px solid #3fa63b;
}

/* Padrão dos links em Header */
.page-links {
  border: 1px solid #3fa63b;
  border-radius: 4px;
  padding: 2px 10px;
}

/* Padrão de listas não ordenadas */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Padrão das sessões */
.center-section {
  max-width: 55rem;
  padding: 1rem 0;
  margin: 0 auto;
}

/* Inicialização com logo V+ */
.position-fixed {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edebe7;
}

.img-fluid {
  width: 5rem;
  height: auto;
  animation: heartbeat 1s infinite;
}

/* Animação para a imagem de inicialização V+ */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
